@font-face {
	font-family: frenchFont;
	src:	url('fonts/Lionelofparis.ttf');
}

body {
	background-color: #41326B;
}

input.status, input.status_comment {
	width: 75%;
}

input.submit_status, input.submit_status_comment {
	width: 20%;
	float: right;
}

.extra_margin {
	margin-bottom: 30px;
}

span.status_header {
	font-family: frenchFont;
	font-size: 1.25em;
}

span.status_content, span.comment_content, span.userView_content{
	word-wrap: break-word;
}

p.comment_block, p.userView_block {
	margin-left: 20px;
}

p.userView_block {
	margin-top: 0px;
	margin-bottom: 0px;
}

span.comment_header, span.userView_title {
	font-family: frenchFont;
	font-size: 1.1em;
}



div {
	background-color: #FFFAC4;
	border: 2px solid #B8B37B;
	border-radius: 8px;
	padding: 8px
}

div#titleBar {
	width: 770px;
	height: 40px;
}

div#sideBar {
	width: 125px;
	position: absolute;
	top: 75px;
	left: 10px;
	padding-left: 0px;
	font-family: frenchFont;
	font-size: 1.25em;
}

div#pageContent {
	width: 600px;
	position: absolute;
	left: 175px;
	top: 75px;
}

h1 {
	color: #8B7BB8;
	vertical-align: top;
	margin: 0px;
	font-family: frenchFont;
}